<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Financiera.My.MySettings.AJUSTESConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Z:\AJUSTES.accdb;Jet OLEDB:Database Password=abc63200"
            providerName="System.Data.OleDb" />
        <add name="Financiera.My.MySettings.ABMConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Z:\ABM.accdb;Jet OLEDB:Database Password=abc63200"
            providerName="System.Data.OleDb" />
        <add name="Financiera.My.MySettings.DATABASEConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Z:\DATABASE.accdb;Jet OLEDB:Database Password=abc63200"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>